/* base.css */

/* Color Scheme */
:root {
    --primary-color: #213c63; /* Primary color */
    --secondary-color: #F3CD81; /* Secondary color */
    --background-color: #f9f9f9; /* Background color */
    --text-color: #333; /* Text color */
    --event-color: #b60100; /* Event title color */
    --event-background: #FFF; /* Event background color */
    --cta-color: #f9f9f9; /* CTA color */
    --memtext-color: #fff; /* Member Benefits text color */
}

.dark-mode {
    --primary-color: #f3cd81; /* Primary color */
    --secondary-color: #213c63; /* Secondary color */
    --background-color: #111; /* Background color */
    --text-color: #fff; /* Text color */
    --event-color: #ffdddd; /* Event title color */
    --event-background: #333; /* Event background color */
    --cta-color: #7C0C0C; /* CTA color */
    --memtext-color: #111; /* Member Benefits text color */
}

/* Body Styles */
body {
    font-family: 'Verdana', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

/* Heading Styles */
h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    color: var(--primary-color);
}

/* Paragraph Styles */
p {
    line-height: 1.6;
}

/* Container Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 10px 20px;
}

/* Hero Styles */
.hero img {
    width: 100%;
    height: auto;
    border-radius: 0 0 5px 5px;
}

/* Call to Action Styles */
.cta {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 5px;
}

.cta h2 {
    margin-top: 0;
}

.cta .btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--cta-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.cta .btn:hover {
    background-color: var(--event-color); /* Darken color on hover */
    text-decoration: none;
}

/* Banner Styles */
.banner {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 20px;
    display: none;
    padding: 20px;
    border: 2px solid var(--primary-color); /* Add border to the banner */
    border-radius: 5px;
}

#close-banner {
    background-color: var(--primary-color);
    color: var(--cta-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: none; /* Remove border */
    cursor: pointer;
}

#close-banner:hover {
    background-color: var(--event-color); /* Darken color on hover */
    text-decoration: none;
}

/* Logo Styles */
.logo {
    display: flex; /* Use flexbox for logo and h1 */
    align-items: center; /* Align items vertically */
}

.logo img {
    width: 100px; /* Set the width to your desired size */
    height: auto; /* Maintain aspect ratio */
}

h1 {
    margin: 0; /* Remove any default margins */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Discover Styles */
/* Sidebar Style */
.sidebar {
    grid-column: 1 / 2; /* Set the sidebar to start at column 1 and end at column 2 */
    background-color: var(--event-background);
    padding: 20px;
}

/* Photo Gallery Style */
.photo-gallery {
    grid-column: 2 / 3; /* Set the photo gallery to start at column 2 and end at column 3 */
    padding: 20px;
    margin-left: 20px; /* Add margin to separate it from the sidebar */
}

/* Main Container Style */
.main-container {
    display: grid;
    grid-template-columns: auto auto; /* Define two columns, one for the sidebar and one for the photo gallery */
}

/* Event Styles */
.events {
    margin-top: 20px;
}

.events .event {
    background-color: var(--event-background);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.events .event h3 {
    color: var(--event-color);
}

/* Weather Styles */
.weather {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 5px;
}

.weather p {
    margin: 10px 0;
}

/* Form Styles */
.form {
    background-color: var(--event-background);
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form label {
    color: var(--primary-color);
    font-size: .9rem;
    margin-bottom: 15px;
    display: block;
}

.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form input[type="date"],
.form input[type="number"],
.form textarea,
.form select {
    background-color: var(--background-color);
    display: block;
    border: solid 1px var(--secondary-color);
    border-radius: 6px;
    padding: .75rem;
    color: var(--text-color);
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
}

.form input:required {
    border-bottom: solid 8px darkred;
}

.form input:required:valid {
    border-bottom: solid 8px green;
}

.form .btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--cta-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* Membership Benefits Styles */
.membership-benefits {
    background-color: var(--primary-color);
    color: var(--memtext-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

.membership-benefits h2 {
    color: var(--secondary-color);
    margin-bottom: 15px;
    text-align: center;
}

.membership-benefits ul {
    list-style-type: none;
    padding: 0;
}

.membership-benefits li {
    margin-bottom: 20px;
}

.membership-benefits h3 {
    color: var(--secondary-color);
}

.membership-benefits p {
    margin-bottom: 5px;
}

.membership-benefits ul ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Directory Styles */
/* Member Card Styles */
.member-card {
    width: 300px;
    height: 325px; 
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--event-background);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.member-card img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-self: center;
    align-self: center;
}

.member-card .member-details {
    flex-grow: 1;
}

.member-card h2 {
    margin: 0;
    color: var(--primary-color); 
    font-size: 18px;
    font-weight: bold;
}

.member-card p {
    margin: 5px 0;
    color: var(--text-color); 
}

.member-card a {
    color: var(--primary-color); 
}

/* Grid View Styles */
.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-content: center; /* Horizontally center the grid items */
    align-items: center; /* Vertically center the grid items */
}

/* List View Styles */
.list-view .member-card {
    width: 100%;
    height: 110px; 
    background-color: var(--event-background);
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
}

.list-view img {
    display: none;
}

.list-view .member-card:nth-child(even) {
    background-color: var(--background-color);
}

.list-view .member-card:last-child {
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    align-items: center; /* Center items vertically */
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    justify-content: center; /* Center items horizontally */
    padding: 20px 0;
}

/* Contact Information Styles */
.contact-info p {
    margin-right: 20px;
}

/* Development Information Styles */
.development-info p {
    margin-left: 20px;
}

.development-info span {
    font-weight: bold;
}

/* Media queries for adjusting layout */
@media only screen and (max-width: 768px) {
    /* For mobile devices */
    header {
        display: flex; /* Use flexbox */
        align-items: center;
        justify-content: center; /* Add space between logo and h1 */
        background-color: var(--secondary-color);
        padding: 10px 20px; /* Adjust padding as needed */
    }

    main {
        padding: 10px; /* Adjust padding as needed */
    }
    
    footer {
        padding: 20px 10px; /* Adjust padding as needed */
    }
    
    .development-info p {
        margin-left: 10px; /* Reduce margin for smaller screens */
    }

    .logo {
        display: flex; /* Use flexbox for logo and h1 */
        align-items: center; /* Align items vertically */
    }

    h1 {
        margin: 0; /* Remove any default margins */
    }

    .sidebar {
        grid-column: initial;
    }

    .photo-gallery {
        grid-column: initial;
        margin-left: 0;
        padding: 10px;
    }

    .main-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
        justify-content: center; /* Center items vertically */
    }
    
    .menu-section {
        width: 100%;
        background-color: var(--secondary-color);
        display: flex;
        justify-content: center; /* Center menu items horizontally */
    }

    .menu {
        padding-bottom: 5px;
        margin: 5px;
        list-style-type: none;
    }

    .menu li {
        margin-bottom: 10px; /* Adjust spacing as needed */
    }

    main {
        margin-top: 20px; /* Adjust as needed */
        text-align: center; /* Center text content */
    }

   .weather {
        text-align: center; /* Center text content */
    }
  
    .membership-benefits {
    text-align: justify;
    }
  
    .membership-benefits ul ul {
    list-style-type: disc;
    padding-left: 20px;
    }

    /* CSS for hamburger menu */
    .menu-toggle {
        display: block; /* Show only for mobile */
        cursor: pointer;
        padding: 10px;
        position: absolute;
        top: 40px; /* Adjust as needed to position it below the dark mode toggle button */
        right: 10px; /* Adjust as needed */
        z-index: 1000; /* Ensure it's above other content, adjust as needed */
    }

    .hamburger:before {
        font-size: 24px;
        content: "☰";
        color: var(--primary-color);
    }
  
    .hamburger:after {
        font-size: 24px;
        content: "X";
        display: none;
        color: var(--primary-color);
    }
  
    .menu-toggle.active .hamburger:before {
        display: none;
    }

    .menu-toggle.active .hamburger:after {
        display: inline;
    }

    /* Hide regular menu for mobile */
    .menu {
        display: none;
    }

    /* Show menu when toggled */
    .menu.show {
        display: block;
    }
}

/* Dark mode toggle styles */
.dark-mode-toggle {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    z-index: 1000; /* Ensure it's above other content, adjust as needed */
}

.dark-mode-toggle button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.dark-mode-toggle button:focus {
    outline: none;
}

.dark-mode-toggle .sun-icon {
    display: inline-block;
}

.dark-mode-toggle .moon-icon {
    display: none;
}

.dark-mode {
    --sun-color: #FFD700;
    --moon-color: #F0F8FF;
}

.dark-mode-toggle .moon-icon {
    display: inline-block;
}

.dark-mode-toggle .sun-icon {
    display: none;
}

.dark-mode .moon-icon {
    display: none;
}

.dark-mode .sun-icon {
    display: inline-block;
}