h2{
    font-size :1rem;
}
nav{
    background-color: green;
   

}
nav ul{
    list-style-type: none;
}
nav a{
    display: block;
    color:#fff;
    text-align:center;
    padding: .5rem;
    text-decoration: none;
}
nav a:hover{
    background-color : rgba(255,255,255,0.2);
}
 nav .active{
    background-color: rgba(0,0,0,0.2);
 }










.parent section {
    border: 2px solid rgb(68, 34, 57);
    background-color:beige;
    border-radius:10px;
    margin :1rem 0;
}
 .parent span{
    background-color: green;
    color:#fff;
    display:block;
    text-align: center;
    padding: .75rem 0;
 }
 .parent p{
    padding:10px;

 }