/* larger.css */

/* Larger Views Styles */
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  h2 {
    font-size: 1.5em;
  }

  #menu {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  nav a {
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
  }

  main {
    grid-template-columns: 1fr 1fr;
  }

  iframe.map {
    height: 450px;
  }

  .temple-image {
    margin-bottom: 30px;
  }

  .temple-label {
    font-size: 24px;
  }

  .card {
    flex-basis: calc(50% - 20px);
  }
}